    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I am a student at 1337 <a href="https://42.fr/en/network-42/">(42 Network)</a>.
                    I am looking for an Internship in the <second_color>DevOps</second_color> field.
                    I've been using a variety of programming languages and technologies, including <second_color>C/C++</second_color>, <second_color>ShellScript</second_color>, <second_color>TypeScript</second_color>, <second_color>GIT</second_color>, <second_color>Kubernetes</second_color>, <second_color>NestJS</second_color>, <second_color>PostgreSQL</second_color>, <second_color>Docker</second_color>, and <second_color>Docker-compose</second_color> ...</p>
                <p>Open to new opportunities: <a href="#resume">Yes</a> </p>
            </div>
        </div>
    </section>
